
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    padding: 2%; 
}

.pokemon {
    text-align: center;
    background-image: url(tarjeta.jpg);
    border-radius: 2rem; 
    padding: 1rem; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); 
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
        
}

.titulo-poke {
    background-color: #2479da;
    margin-left: 35%; 
    margin-right: 10%; 
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 8%;
}

.pokemon {
    color: #333; 
    font-family: Arial, sans-serif; 
}


.pokemon h3 {
    color: #ee0707; 
}


.pokemon label {
    color: #f1f1f1; 
}

.pokemon .save-btn {
    background-color: #00ff80; 
    color: #FFFFFF; 
}
.buscadorPokemon {
    border-radius: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-image: url(tarjeta.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hp-progress,.attack-progress,.defense-progress,.special-attack-progress,.special-defense-progress,.speed-progress{
    background-color: transparent;
    
}
