
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    padding: 2%; 
}

.pokemon {
    text-align: center;
    background-image: url(tarjeta.jpg);
    border-radius: 2rem; 
    padding: 1rem; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); 
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
        
}

.titulo-poke {
    background-color: #2479da;
    margin-left: 35%; 
    margin-right: 10%; 
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 8%;
}

/* Agrega este CSS a tu archivo style.css o dentro de una etiqueta <style> en el <head> de tu HTML */
.pokemon {
    /* Cambia el color del texto en las tarjetas */
    color: #333; /* Cambia el color a tu elección */
    /* Cambia la fuente del texto en las tarjetas */
    font-family: Arial, sans-serif; /* Cambia la fuente a tu elección */
}

/* Cambia el color del título (nombre del Pokémon) */
.pokemon h3 {
    color: #ee0707; /* Cambia el color a tu elección */
}

/* Cambia el color de las etiquetas (por ejemplo, "HP:") */
.pokemon label {
    color: #f1f1f1; /* Cambia el color a tu elección */
}

.pokemon .save-btn {
    background-color: #00ff80; 
    color: #FFFFFF; 
}
